<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie lte_ie8" lang="zh-CN"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="zh-CN"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="zh-CN"> <!--<![endif]-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
<title>{% block title %}{% endblock %} - 数据接口后台</title>

{% block head %}
<link rel="stylesheet" href="/public/system/style/main.css">
<!-- <link rel="stylesheet" href="/public/system/style/main.min.css"> 正式环境用这个地址-->
{% endblock %}
</head>

<body>

<div class="wrapper">
	<!-- 顶部导航 开始 -->
	<div class="site-header cf">
		<ul class="site-breadcrumb cf">
			<li class="item"><a href="/" class="site-logo">夜动体育数据接口管理系统</a></li>
		</ul>
		<div class="site-meta">
			<div class="avatar">
				<img src="https://wx.qlogo.cn/mmhead/Q3auHgzwzM5YollFVDLjZVEcWbCA2CTydUrMHo3Eib7abhiaK54uulzg/0" alt="goochin" class="pic">
			</div>
			<a href="javascript" class="login">退出</a>
		</div>
	</div>
	<!-- 顶部导航 结束 -->

	<!-- 左侧导航 开始 -->
	<div class="col_side side-nav">
		<div class="menu_box side_list">
			<dl class="menu">
				<dt class="menu_title">
					<i class="glyphicon_menu glyphicon glyphicon-film"></i>视频管理
				</dt>
				<dd class="menu_item {% if menu == 'addvideo' %}selected{% endif %}">
					<a href="/video/add">新建视频</a>
				</dd>
				<dd class="menu_item {% if menu == 'videolist' %}selected{% endif %}">
					<a href="/video/list">视频管理</a>
				</dd>
			</dl>
			<dl class="menu">
				<dt class="menu_title">
					<i class="glyphicon_menu glyphicon glyphicon-folder-open"></i>专辑管理
				</dt>
				<dd class="menu_item {% if menu == 'setalbum' %}selected{% endif %}">
					<a href="/album/set">新建专辑</a>
				</dd>
				<dd class="menu_item {% if menu == 'albumlist' || menu == 'albumdetail' %}selected{% endif %}">
					<a href="/album/list">专辑管理</a>
				</dd>
			</dl>
			<dl class="menu">
				<dt class="menu_title">
					<i class="glyphicon_menu glyphicon glyphicon-list-alt"></i>用户管理
				</dt>
				<dd class="menu_item">
					<a href="/user/list">用户列表</a>
				</dd>
				<dd class="menu_item">
					<a href="/user/history">观看历史</a>
				</dd>
				<dd class="menu_item">
					<a href="/user/collect">收藏列表</a>
				</dd>
				<dd class="menu_item">
					<a href="/user/email">邮箱订阅</a>
				</dd>
			</dl>
			<dl class="menu">
				<dt class="menu_title">
					<i class="glyphicon_menu glyphicon glyphicon-th-large"></i>其他
				</dt>
				<dd class="menu_item">
					<a href="/upload">数据上传</a>
				</dd>
				<dd class="menu_item">
					<a href="/artist/list">艺人库</a>
				</dd>
				<dd class="menu_item ">
					<a href="/other/cards">名片</a>
				</dd>
			</dl>
		</div>
	</div>
	<!-- 左侧导航 结束 -->	

	{% block content %}{% endblock %}

	{% block foot %}
	<script src="/public/system/js/jquery.min.js"></script>
	<script src="/public/system/js/bootstrap.min.js"></script>
	{% endblock %}

</body>
</html>