{% extends '@layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
	{% parent %}
	<style>
		#list-album .form-control{width: 50px;text-align: center;}
	</style>
{% endblock %}

{% block content %}

	<!-- 右侧主体 开始 -->
	<div class="site-container">
		<div class="cover-wrap">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">共有<span class="num" id="count-album">{{ucounts}}</span>个艺人</h3>
				</div>
				<div class="panel-body">
					<table class="table table-hover table-cover">
						<thead>
							<tr>
								<th>No.</th>
								<th>头像</th>
								<th>atid</th>
								<th>姓名</th>
								<th>别名</th>
								<th>录入时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="list-user">
						{% for items in artistlist %}
							<tr>
								<td>{{ loop.index }}</td>
								<td><img src="{{ items.avatar }}" class="avatar-img"></td>
								<td><a href="/user/detail?atid={{ items.atid }}" class="n-cid">{{ items.atid }}</a></td>
								<td>{{ items.aname }}</td>
								<td>{{ items.subname }}</td>
								<td class="timestamp" data-timestamp='{{items.time}}'>{{items._time}}</td>
								<td>
									<a class="btn btn-info" href="/user/detail?openid={{items.openid}}">编辑</a>
									<a class="btn btn-danger ac-delete" href="javascript:;">删除</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

					<div class="pages-group" style="display: none;">
						<ul class="pagination">
							<li class="disabled"><a href="#">«</a></li>
							<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">»</a></li>
						</ul>	
					</div>

				</div>
			</div>
			<div class="panel panel-danger" style="display: none;">
				<div class="panel-heading">
					<h3 class="panel-title">未找到栏目</h3>
				</div>
				<div class="panel-body">
					还没有专辑，可以<a href="./cover-add.html">新建一个专辑</a> :)
				</div>
			</div>	
		</div>
	</div>
	<!-- 右侧主体 结束 -->
</div>
{% endblock %}

{% block foot %}
	{% parent %}
<script>
$(function(){

	
});
</script>
{% endblock %}