{% extends '@layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
	{% parent %}
	<style>
		#list-album .form-control{width: 50px;text-align: center;}
	</style>
{% endblock %}

{% block content %}

	<!-- 右侧主体 开始 -->
	<div class="site-container">
		<div class="cover-wrap">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">共有<span class="num" id="count-album">{{albumcount}}</span>个专辑</h3>
				</div>
				<div class="panel-body">
					<table class="table table-hover table-cover">
						<thead>
							<tr>
								<th>No.</th>
								<th>CID</th>
								<th>专辑标题</th>
								<th>专辑标题</th>
								<th>视频个数</th>
								<th>专辑状态</th>
								<th>更新时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="list-album">
						{% for items in albumlist %}
							<tr>
							<td><input type="text" value="{{ items.order }}" class="form-control"></td>
							<td><a href="/album/detail?cid={{ items.cid }}" class="n-cid">{{ items.cid }}</a></td>
							<td>{{ items.title }}</td>
							<td>{{ items.subtitle }}</td>
							<td>{{ items.counts }}</td>
							{% if items.toindex == 'true' %}
							<td data-value="已上架">已上架</td>
							{% else %}
							<td data-value="已下架">已下架</td>
							{% endif %}
							<td class="timestamp" data-timestamp='{{items.time}}'>{{items._time}}</td>
							<td>
								<a class="btn btn-info" href="/album/detail?cid={{items.cid}}">编辑</a>
								<a class="btn btn-danger ac-delete" data-cid="{{items.cid}}" data-title="{{ items.title }}" href="javascript:;">删除</a>
							</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

					<div class="pages-group" style="display: none;">
						<ul class="pagination">
							<li class="disabled"><a href="#">«</a></li>
							<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">»</a></li>
						</ul>	
					</div>

					<button class="btn btn-info" id="btn-updateOrder">更新排序</button>
				</div>
			</div>
			<div class="panel panel-danger" style="display: none;">
				<div class="panel-heading">
					<h3 class="panel-title">未找到栏目</h3>
				</div>
				<div class="panel-body">
					还没有专辑，可以<a href="./cover-add.html">新建一个专辑</a> :)
				</div>
			</div>	
		</div>
	</div>
	<!-- 右侧主体 结束 -->
</div>
{% endblock %}

{% block foot %}
	{% parent %}
<script src="/public/system/js/jquery.uploadfile.min.js"></script>
<script src="/public/system/js/utils.js"></script>
<script>
$(function(){

	//更新序列号
	$("#btn-updateOrder").on("click", function(){
		var order = [];
		$("#list-album tr").each(function(i){
			var obj = {};
				obj.order = $(this).find('.form-control').val();
				obj.cid = $(this).find('.n-cid').text();
			order.push(obj);
		});
		
		order = JSON.stringify(order);

		$.ajax({
			url: '/album/list/',
			data: {
				'ac': 'uporder',
				'order': order
			},
			method: 'get',
			timeout: 6000,
			success: function(data){
				if (data['status'] && data['status'] === 200) {
					alert('序列更新成功~');
					window.location.reload();
				}
			}
		});
	});

	//删除专辑，如果专辑不为空，把所属的视频列表放到默认专辑
	$(".ac-delete").on("click", function(){
		var that = $(this),
			cid = that.attr('data-cid'),
			txt = that.attr('data-title');
		if (that.attr("disabled") === 'disabled') return;

		if(confirm("确定要删除"+txt+"吗？")){
			$.ajax({
				url: '/',
				method: 'post',
				timeout: 6000,
				before: function(){
					that.attr('disabled', 'disabled');
				},
				data: {
					'ac': 'delete',
					'type': 'album',
					'cid': cid
				},
				success: function(data){
					if (data['status']) {
						alert('提交成功，跳转到专辑列表！');
						window.location.href = '/album/list';
					}
				}
			});
		}
	});
});
</script>
{% endblock %}