{% extends '@layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}


{% block content %}
	<!-- 右侧主体 开始 -->
	<div class="site-container">
		<div class="cover-wrap">
			<div class="cover-add">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">新建专辑</h3>
					</div>
					<div class="panel-body">
						<div class="form form-horizontal form-cover-add">
							<div class="form-group">
								<label class="control-label">CID：</label>
								<input type="text" class="form-control" value="自动生成" disabled="">
							</div>

							<div class="form-group">
								<label class="control-label">专辑名：</label>
								<input type="text" class="form-control" placeholder="" id="aname">
							</div>

							<div class="form-group">
								<label class="control-label">专辑子标题：</label>
								<input type="text" class="form-control" placeholder="" id="subtit">
							</div>

							<div class="form-group">
								<label class="control-label">幻灯片大图：750*440　</label>
								<div class="fn-upload">
									<input type="file" class="form-control-input" id="upbanner">
									<div class="preview-cont" id="prev-banner"></div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label">专辑封面：220*325　</label>
								<div class="fn-upload">
									<input type="file"  class="form-control-input" id="upalbum">
									<div class="preview-cont" id="prev-poster" style="left: 150%;"></div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label">出品方：</label>
								<input type="text" class="form-control" placeholder="" id="production">
							</div>

							<div class="form-group">
								<label class="control-label">赞助商：</label>
								<input type="text" class="form-control" placeholder="" id="sponsor">
							</div>

							<div class="form-group">
								<label class="control-label">推荐到首页：</label>
								<input type="checkbox" id="toindex" >
							</div>
							
							<div class="btn-line">
								<a href="javascript:;" class="btn btn-info" id="btn-creatAlbum">创建</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 右侧主体 结束 -->
</div>
{% endblock %}

{% block foot %}
	{% parent %}
	<script src="https://cdn.staticfile.org/plupload/2.1.8/plupload.full.min.js"></script>
	<script src="/public/system/js/qiniu.min.js"></script>
	<script>
		$(function(){
			var Qiniu1 = new QiniuJsSDK();
			var Qiniu2 = new QiniuJsSDK();

			//灯片大图：750*440
			var uploadthumbimg = Qiniu1.uploader({
			    runtimes: 'html5,flash,html4',
			    browse_button: 'upbanner',
			    uptoken_url: '/uptoken',
			    get_new_uptoken: false,
			    unique_names: false,
			    save_key: false,
			    domain: 'http://omsd78olk.bkt.clouddn.com',
			    max_file_size: '100mb',
			    flash_swf_url: 'https://cdn.staticfile.org/plupload/2.1.8/Moxie.swf',
			    max_retries: 3,
			    dragdrop: false,
			    chunk_size: '4mb',
			    auto_start: true,

			    init: {
			        'BeforeUpload': function(up, file) {
			               // 每个文件上传前，处理相关的事情
			        },
			        'UploadProgress': function(up, file) {
			               $("#prev-banner").show().html('上传中请稍候...');
			        },
			        'FileUploaded': function(up, file, info) {

			               var domain = up.getOption('domain');
			               var res = JSON.parse(info);
			               var sourceLink = domain +"/"+ res.key; //获取上传成功后的文件的Url
			               // console.log(sourceLink);
			               $("#prev-banner").attr("data-img", sourceLink);
			               $("#prev-banner").show().html('<img src="'+sourceLink+'?imageView2/1/w/750/h/440" />');
			        },
			        'Error': function(up, err, errTip) {
			               alert(errTip);
			        },
			        'UploadComplete': function() {
			               //队列文件处理完毕后，处理相关的事情
			        }
			    },

			    filters : {
				    max_file_size : '5mb',
				    prevent_duplicates: true,
				    // Specify what files to browse for
				    mime_types: [
				        {title : "Image files", extensions : "jpg,gif,png,jpeg"} // 限定jpg,gif,png后缀上传
				    ]
				}
			});

			//海报封面：220*325
			var uploadthumbimg = Qiniu2.uploader({
			    runtimes: 'html5,flash,html4',
			    browse_button: 'upalbum',
			    uptoken_url: '/uptoken',
			    get_new_uptoken: false,
			    unique_names: false,
			    save_key: false,
			    domain: 'http://omsd78olk.bkt.clouddn.com',
			    max_file_size: '100mb',
			    flash_swf_url: 'https://cdn.staticfile.org/plupload/2.1.8/Moxie.swf',
			    max_retries: 3,
			    dragdrop: false,
			    chunk_size: '4mb',
			    auto_start: true,

			    init: {
			        'BeforeUpload': function(up, file) {
			               // 每个文件上传前，处理相关的事情
			        },
			        'UploadProgress': function(up, file) {
			               $("#prev-poster").show().html('上传中请稍候...');
			        },
			        'FileUploaded': function(up, file, info) {

			               var domain = up.getOption('domain');
			               var res = JSON.parse(info);
			               var sourceLink = domain +"/"+ res.key; //获取上传成功后的文件的Url
			               // console.log(sourceLink);
			               $("#prev-poster").attr("data-img", sourceLink);
			               $("#prev-poster").show().html('<img src="'+sourceLink+'?imageView2/1/w/220/h/325" />');
			        },
			        'Error': function(up, err, errTip) {
			               alert(errTip);
			        },
			        'UploadComplete': function() {
			               //队列文件处理完毕后，处理相关的事情
			        }
			    },

			    filters : {
				    max_file_size : '5mb',
				    prevent_duplicates: true,
				    // Specify what files to browse for
				    mime_types: [
				        {title : "Image files", extensions : "jpg,gif,png,jpeg"} // 限定jpg,gif,png后缀上传
				    ]
				}
			});

			$('#btn-creatAlbum').click(function(){
				var that = $(this),
					BANNERIMG = $("#prev-banner").attr("data-img"),
					ALBUMIMG = $("#prev-poster").attr("data-img");

				if (that.attr('disabled') === 'disabled')return;

				if (BANNERIMG === '') {
					alert('请上传幻灯片大图~');
					return;
				}else if(ALBUMIMG === ''){
					alert('请上传专辑封面图~');
					return;
				}else if($('#aname').val() === ''){
					alert('请填写专辑名~');
					return;
				}else if($('#subtit').val() === ''){
					alert('请填写专辑子标题~');
					return;
				}else if($('#production').val() === ''){
					alert('请填写出品方~');
					return;
				}else if($('#sponsor').val() === ''){
					alert('请填写赞助商~');
					return;
				}

				$.ajax({
					url: '/',
					method: 'post',
					timeout: 6000,
					before: function(){
						that.attr('disabled', 'disabled');
					},
					data: {
						'type': 'setalbum',
						'banner': BANNERIMG,
						'albumimg': ALBUMIMG,
						'title': $('#aname').val(),
						'subtitle': $('#subtit').val(),
						'production': $('#production').val(),
						'sponsor': $('#sponsor').val(),
						'toindex': $("#toindex")[0].checked
					},
					success: function(data){
						// console.log(data);
						alert('提交成功，跳转到专辑管理！');
						window.location.href = '/album/list';
					}
				});
			});
		});
	</script>
{% endblock %}