{% extends '@layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}	
	<!-- 右侧主体 开始 -->
	<div class="site-container">
		<div class="cover-wrap">

			<div class="tab-content">
				<div class="tab-pane active" id="coverEdit">
					<div class="content-side content-side-pic">
						<div class="pic_preview">
							<p class="desc">幻灯片大图 750*440</p>
							<div class="pic" id="upbanner-cont"><img src="{{result.banner}}" ></div>
							<button type="button" class="btn btn-default" id="btn-upbanner">修改图片</button>	
						</div>
						<div class="pic_preview">
							<p class="desc">专辑封面 220*325</p>
							<div class="pic" id="upalbum-cont"><img src="{{result.albumimg}}" ></div>
							<button type="button" class="btn btn-default" id="btn-upalbum">修改图片</button>	
						</div>
					</div>
					<div class="content-main">
						<div class="form form-cover-add form-detail-edit form-detail-edit-cover">
							<div class="form-title">资料维护</div>
							
							<div class="form-group">
								<label class="control-label">CID：</label>
								<input type="text" class="form-control" value="{{result.cid}}" disabled="" id="cid">
							</div>

							<div class="form-group">
								<label class="control-label">幻灯片大图：</label>
								<input type="text" class="form-control" value="{{result.banner}}" id="upbanner">
							</div>

							<div class="form-group">
								<label class="control-label">专辑封面：</label>
								<input type="text" class="form-control" value="{{result.albumimg}}" id="upalbum">
							</div>

							<div class="form-groups-3">
								<div class="form-group">
									<label class="control-label">专辑名：</label>
									<input type="text" class="form-control" placeholder="" value="{{result.title}}" id="aname">
								</div>
								<div class="form-group">
									<label class="control-label">专辑子标题：</label>
									<input type="text" class="form-control" placeholder="" value="{{result.subtitle}}" id="subtit">
								</div>
								<div class="form-group">
									<label class="control-label">视频个数：</label>
								<input type="text" class="form-control" value="{{result.counts}}" disabled="" id="counts">
								</div>
							</div>

							<div class="form-groups-3">
								<div class="form-group">
									<label class="control-label">出品方：</label>
									<input type="text" class="form-control" placeholder="" value="{{result.production}}" id="production">
								</div>
								<div class="form-group">
									<label class="control-label">赞助商：</label>
									<input type="text" class="form-control" placeholder="" value="{{result.sponsor}}" id="sponsor">
								</div>
								<div class="form-group">
									<label class="control-label">推荐到首页：</label>
									{% if result.toindex === 'true' %}
									<input type="checkbox" id="toindex" checked="checked" >
									{% else %}
									<input type="checkbox" id="toindex" >
									{% endif%}
								</div>
							</div>
						</div>

						<div class="list-search list-search-cover">

							<div class="form-group">
								<label class="control-label">输入标题/专辑CID进行查询：</label>
								<input type="text" class="form-control" placeholder="">
								<button type="button" class="btn btn-info">查询</button>
							</div>
						</div>

						<table class="table table-hover table-cover-detail">
							<thead>
								<tr>
									<th><input type="checkbox" /></th>
									<th>No</th>
									<th>VID</th>
									<th>标题</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								{% for items in videolist %}
								<tr>
									<td><input type="checkbox" /></td>
									<td>1</td>
									<td><a href="">{{items.vid}}</a></td>
									<td>{{items.title}}</td>
									<td>
										<a class="btn btn-info" href="/video/detail?vid={{items.vid}}">修改</a>
										<a class="btn btn-danger" href="javacript:;">移除</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="pages-group">
							<ul class="pagination">
								
							</ul>	
						</div>

						<div class="btn-line fix-bottom">
							<button type="button" class="btn btn-info" id="updateAlbum">确定修改</button>
							<button type="button" class="btn btn-info" id="refresh">刷新页面</button>
						</div>

					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- 右侧主体 结束 -->
</div>
{% endblock %}

{% block foot %}
	{% parent %}
	<script src="https://cdn.staticfile.org/plupload/2.1.8/plupload.full.min.js"></script>
	<script src="/public/system/js/qiniu.js"></script>
	<script>
		$(function(){
			
			var Qiniu1 = new QiniuJsSDK();
			var Qiniu2 = new QiniuJsSDK();

			//灯片大图：750*440
			var uploadthumbimg = Qiniu1.uploader({
			    runtimes: 'html5,flash,html4',
			    browse_button: 'btn-upbanner',
			    uptoken_url: '/uptoken',
			    get_new_uptoken: false,
			    unique_names: false,
			    save_key: false,
			    domain: 'http://omsd78olk.bkt.clouddn.com',
			    max_file_size: '100mb',
			    flash_swf_url: 'https://cdn.staticfile.org/plupload/2.1.8/Moxie.swf',
			    max_retries: 3,
			    dragdrop: false,
			    chunk_size: '4mb',
			    auto_start: true,

			    init: {
			        'BeforeUpload': function(up, file) {
			               $("#upbanner-cont").html('上传中请稍候...');
			        },
			        'UploadProgress': function(up, file) {
			               $("#upbanner-cont").html('上传中请稍候...');
			        },
			        'FileUploaded': function(up, file, info) {

			               var domain = up.getOption('domain');
			               var res = JSON.parse(info);
			               var sourceLink = domain +"/"+ res.key; //获取上传成功后的文件的Url
			               // console.log(sourceLink);
			               // $("#upbanner-cont").attr("data-img", sourceLink);
			               $("#upbanner").val(sourceLink);
			               $("#upbanner-cont").html('<img src="'+sourceLink+'?imageView2/1/w/750/h/440" />');
			        },
			        'Error': function(up, err, errTip) {
			               alert(errTip);
			        },
			        'UploadComplete': function() {
			               //队列文件处理完毕后，处理相关的事情
			        }
			    },

			    filters : {
				    max_file_size : '5mb',
				    prevent_duplicates: true,
				    // Specify what files to browse for
				    mime_types: [
				        {title : "Image files", extensions : "jpg,gif,png,jpeg"} // 限定jpg,gif,png后缀上传
				    ]
				}
			});

			//海报封面：220*325
			var uploadthumbimg = Qiniu2.uploader({
			    runtimes: 'html5,flash,html4',
			    browse_button: 'btn-upalbum',
			    uptoken_url: '/uptoken',
			    get_new_uptoken: false,
			    unique_names: false,
			    save_key: false,
			    domain: 'http://omsd78olk.bkt.clouddn.com',
			    max_file_size: '100mb',
			    flash_swf_url: 'https://cdn.staticfile.org/plupload/2.1.8/Moxie.swf',
			    max_retries: 3,
			    dragdrop: false,
			    chunk_size: '4mb',
			    auto_start: true,

			    init: {
			        'BeforeUpload': function(up, file) {
			               $("#upalbum-cont").html('上传中请稍候...');
			        },
			        'UploadProgress': function(up, file) {
			               $("#upalbum-cont").html('上传中请稍候...');
			        },
			        'FileUploaded': function(up, file, info) {

			               var domain = up.getOption('domain');
			               var res = JSON.parse(info);
			               var sourceLink = domain +"/"+ res.key; //获取上传成功后的文件的Url
			               // console.log(sourceLink);
			               // $("#upalbum-cont").attr("data-img", sourceLink);
			               $("#upalbum").val(sourceLink);
			               $("#upalbum-cont").html('<img src="'+sourceLink+'?imageView2/1/w/220/h/325" />');
			        },
			        'Error': function(up, err, errTip) {
			               alert(errTip);
			        },
			        'UploadComplete': function() {
			               //队列文件处理完毕后，处理相关的事情
			        }
			    },

			    filters : {
				    max_file_size : '5mb',
				    prevent_duplicates: true,
				    // Specify what files to browse for
				    mime_types: [
				        {title : "Image files", extensions : "jpg,gif,png,jpeg"} // 限定jpg,gif,png后缀上传
				    ]
				}
			});

			$('#updateAlbum').click(function(){
				var that = $(this),
					BANNERIMG = $("#upbanner").val(),
					ALBUMIMG = $("#upalbum").val();

				if (that.attr('disabled') === 'disabled')return;

				if (BANNERIMG === '') {
					alert('请上传幻灯片大图~');
					return;
				}else if(ALBUMIMG === ''){
					alert('请上传专辑封面图~');
					return;
				}else if($('#aname').val() === ''){
					alert('请填写专辑名~');
					return;
				}else if($('#subtit').val() === ''){
					alert('请填写专辑子标题~');
					return;
				}else if($('#production').val() === ''){
					alert('请填写出品方~');
					return;
				}else if($('#sponsor').val() === ''){
					alert('请填写赞助商~');
					return;
				}

				$.ajax({
					url: '/',
					method: 'post',
					timeout: 6000,
					before: function(){
						that.attr('disabled', 'disabled');
					},
					data: {
						'type': 'updateAlbum',
						'cid': $("#cid").val(),
						'banner': BANNERIMG,
						'albumimg': ALBUMIMG,
						'title': $('#aname').val(),
						'subtitle': $('#subtit').val(),
						'production': $('#production').val(),
						'sponsor': $('#sponsor').val(),
						'toindex': $("#toindex")[0].checked,
						'counts': $("#counts").val()
					},
					success: function(data){
						// console.log(data);
						alert('提交成功，跳转到专辑管理！');
						window.location.href = '/album/list';
					}
				});
			});

			$("#refresh").on("click", function(){
				window.location.reload();
			});
		});
	</script>
{% endblock %}