{% extends '@layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
	{% parent %}
	<link rel="stylesheet" href="/system/style/uploadfile.css">
{% endblock %}

{% block content %}	

	<!-- 右侧主体 开始 -->
	<div class="site-container">
		<div class="cover-wrap">

			<div class="tab-content">
				<div class="tab-pane active" id="coverEdit">
					<div class="content-side content-side-pic">
						<div class="pic_preview">
							<p class="desc">幻灯片大图 750*440</p>
							<div class="pic"><img src="{{result.banner}}" ></div>
							<button type="button" class="btn btn-default" data-toggle="modal" data-target="#picUploadPop">修改图片</button>	
						</div>
						<div class="pic_preview">
							<p class="desc">专辑封面 220*325</p>
							<div class="pic"><img src="{{result.albumimg}}" ></div>
							<button type="button" class="btn btn-default" data-toggle="modal" data-target="#picUploadPop">修改图片</button>	
						</div>
					</div>
					<div class="content-main">
						<div class="form form-cover-add form-detail-edit form-detail-edit-cover">
							<div class="form-title">资料维护</div>
							
							<div class="form-group">
								<label class="control-label">CID：</label>
								<input type="text" class="form-control" value="{{result.cid}}" disabled="">
							</div>

							<div class="form-group">
								<label class="control-label">幻灯片大图：</label>
								<div id="upbanner" class="fn-upload"><input type="file"></div>
							</div>

							<div class="form-group">
								<label class="control-label">专辑封面：</label>
								<div id="upalbum" class="fn-upload"><input type="file"></div>
							</div>

							<div class="form-groups-3">
								<div class="form-group">
									<label class="control-label">专辑名：</label>
									<input type="text" class="form-control" placeholder="" value="{{result.title}}" id="aname">
								</div>
								<div class="form-group">
									<label class="control-label">专辑子标题：</label>
									<input type="text" class="form-control" placeholder="" value="{{result.subtitle}}" id="subtit">
								</div>
								<div class="form-group">
									<label class="control-label">视频个数：</label>
								<input type="text" class="form-control" value="{{result.counts}}" disabled="">
								</div>
							</div>

							<div class="form-groups-3">
								<div class="form-group">
									<label class="control-label">出品方：</label>
									<input type="text" class="form-control" placeholder="" value="{{result.production}}" id="production">
								</div>
								<div class="form-group">
									<label class="control-label">赞助商：</label>
									<input type="text" class="form-control" placeholder="" value="{{result.sponsor}}" id="sponsor">
								</div>
								<div class="form-group">
									<label class="control-label">推荐到首页：</label>
									{% if result.toindex === 'true' %}
									<input type="checkbox" id="toindex" checked="checked" >
									{% else %}
									<input type="checkbox" id="toindex" >
									{% endif%}
								</div>
							</div>
						</div>

						<div class="list-search list-search-cover">

							<div class="form-group">
								<label class="control-label">输入标题/专辑CID进行查询：</label>
								<input type="text" class="form-control" placeholder="">
								<button type="button" class="btn btn-info">查询</button>
							</div>
						</div>

						<table class="table table-hover table-cover-detail">
							<thead>
								<tr>
									<th><input type="checkbox" /></th>
									<th>No</th>
									<th>VID</th>
									<th>标题</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								{% for items in videolist %}
								<tr>
									<td><input type="checkbox" /></td>
									<td>1</td>
									<td><a href="">{{items.vid}}</a></td>
									<td>{{items.title}}</td>
									<td>
										<a class="btn btn-info" href="/video/detail?vid={{items.vid}}">修改</a>
										<a class="btn btn-danger" href="javacript:;">移除</a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="pages-group">
							<ul class="pagination">
								
							</ul>	
						</div>

						<div class="btn-line fix-bottom">
							<button type="button" class="btn btn-info">确定修改</button>
							<button type="button" class="btn btn-info">刷新页面</button>
						</div>

					</div>
				</div>
				
				<!-- 图片上传浮层 开始 -->
				<div class="modal fade modal-form modal-pic-upload" id="picUploadPop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								<h4 class="modal-title" id="myModalLabel">修改图片</h4>
							</div>
							<div class="modal-body">
								<div class="form">
									<div class="form-group">
										<label class="control-label">标题：</label>
										<input type="text" class="form-control" value="豆瓣高分系列" disabled>
									</div>
									<div class="form-group">
										<label class="control-label">上传图片：</label>
										<span class="btn btn-default btn-file">选择文件 <input type="file" accept="image/png, image/jpeg"></span>
									</div>
									<div class="alert alert-warning" role="alert">
										提示：幻灯片尺寸 750*440，竖图海报尺寸 220*325，文件 &lt; 1M，支持 jpg 和 png 两种格式。
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-info" data-dismiss="modal">上传</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 图片上传浮层 结束 -->
				
				
			</div>
		</div>
	</div>
	<!-- 右侧主体 结束 -->
</div>

<script src="/system/js/jquery.min.js"></script>
<script src="/system/js/bootstrap.min.js"></script>
<script src="/system/js/jquery.uploadfile.min.js"></script>
<script>
	$(function(){
		var BANNERIMG = '',
			ALBUMIMG = '';
		$("#upbanner").uploadFile({
			url:"/upload",
			fileName:"tmpFile",
			multiple:true,
			showPreview:true,
			showProgress:false,
			onSuccess: function(files,data,xhr,pd){
		        if(data&&data.code===0){
		            BANNERIMG = data.fileUrl;
		            console.log(BANNERIMG);
		        }
		    }
	    });

		$("#upalbum").uploadFile({
			url:"/upload",
			fileName:"tmpFile",
			multiple:true,
			showPreview:true,
			showProgress:false,
			onSuccess: function(files,data,xhr,pd){
		        if(data&&data.code===0){
		            ALBUMIMG = data.fileUrl;
		            console.log(ALBUMIMG);
		        }
		    }
	    });
	});
</script>
{% endblock %}