{% extends '@layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}	

	<!-- 右侧主体 开始 -->
	<div class="site-container">
		<div class="video-wrap">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">视频管理</h3>
				</div>
				<div class="panel-body">
					<div class="form-inline form-column-search">
						<div class="form-groups-4">
							<div class="form-group">
								<label class="control-label">VID：</label>
								<input type="text" class="form-control" placeholder="请输入看单ID">
							</div>
							<div class="form-group">
								<label class="control-label">专辑：</label>
								<select class="form-control">
									<option selected="">请选择专辑</option>
									<option value="1">电影</option>
								</select>
							</div>
							<div class="form-group">
								<label class="control-label">标题：</label>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-info">搜索</button>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">共查到<span class="num">{{videocount}}</span>个视频</h3>
				</div>
				<div class="panel-body">
					<div class="table-checkbox-operate">
						<button type="button" class="btn btn-text-default">批量收至专辑 »</button>
						<input type="text" class="form-control" placeholder="输入专辑ID">
					</div>
					<table class="table table-hover table-column" id="list-video">
						<thead>
							<tr>
								<th class="text-center"><input type="checkbox"></th>
								<th>No.</th>
								<th>VID</th>
								<th>所属专辑</th>
								<th>标题</th>
								<th>播放时长</th>
								<th>上传时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							{% for items in videolist %}
							<tr>
								<td class="text-center"><input type="checkbox"></td>
								<td>{{loop.index}}</td>
								<td>
									<span class="icon-copy" title="拷贝"></span>
									<a href="/video/detail?vid={{items.vid}}">{{items.vid}}</a>
								</td>
								<td><a href="/album/detail?cid={{items.cid}}">《{{items.cname}}》</a></td>
								<td><a href="/video/detail?vid={{items.vid}}">{{items.title}}</a></td>
								<td>{{items.duration}}</td>
								<td class="time" data-timestamp='{{items.time}}'>{{items._time}}</td>
								<td>
									<a class="btn btn-info" href="/video/detail?vid={{items.vid}}">编辑</a>
									<a class="btn btn-danger" href="/video/detail?ac=delete&vid={{items.vid}}">删除</a>
								</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
					<div class="pages-group">
						<ul class="pagination">
							{% autoescape false %}
							{{pages}}
							{% endautoescape %}
						</ul>	
					</div>
				</div>
			</div>
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">未找到视频</h3>
				</div>
				<div class="panel-body">
					未找到符合条件的视频，建议修改搜索条件后重试 :)
				</div>
			</div>	
		</div>
	</div>
	<!-- 右侧主体 结束 -->
</div>

{% endblock %}

{% block foot %}
	{% parent %}
	<script src="/public/system/js/utils.js"></script>
	<script>
	$(function(){
		// $("#list-video .time").each(function(i, items){
		// 	console.log(timeFormat($(this).text()))
		// });
	});
	</script>
{% endblock %}
